In [1]:
# Dependencies
import pandas as pd
import pymongo
from bs4 import BeautifulSoup
import requests
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
#def scrape_mars_news():
executable_path = {'executable_path': ChromeDriverManager().install()}
print(executable_path)

{'executable_path': 'C:\\Users\\pravi\\.wdm\\drivers\\chromedriver\\win32\\105.0.5195\\chromedriver.exe'}

In [3]:
#pip install selenium

In [4]:
browser = Browser('chrome', **executable_path, headless=False)

In [5]:
listing = {}
listings_df = pd.DataFrame()

In [6]:
url = 'https://redplanetscience.com/'
browser.visit(url)

In [7]:
# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

### NASA Mars News

In [8]:
# Examine the results, then determine element that contains sought info
# results are returned as an iterable list
results = soup.find_all('div', class_='list_text')
results

[<div class="list_text">
 <div class="list_date">September 14, 2022</div>
 <div class="content_title">Two Rovers to Roll on Mars Again: Curiosity and Mars 2020</div>
 <div class="article_teaser_body">They look like twins. But under the hood, the rover currently exploring the Red Planet and the one launching there this summer have distinct science tools and roles to play.</div>
 </div>,
 <div class="list_text">
 <div class="list_date">September 13, 2022</div>
 <div class="content_title">Nine Finalists Chosen in NASA's Mars 2020 Rover Naming Contest</div>
 <div class="article_teaser_body">Nine finalists have been chosen in the essay contest for K-12 students across U.S. to name NASA's next Mars rover. Now you can help by voting for your favorite. </div>
 </div>,
 <div class="list_text">
 <div class="list_date">September 13, 2022</div>
 <div class="content_title">The Detective Aboard NASA's Perseverance Rover</div>
 <div class="article_teaser_body">An instrument called SHERLOC will, with the help of its partner WATSON, hunt for signs of ancient life by detecting organic molecules and minerals.</div>
 </div>,
 <div class="list_text">
 <div class="list_date">September 12, 2022</div>
 <div class="content_title">Newfound Martian Aurora Actually the Most Common; Sheds Light on Mars' Changing Climate</div>
 <div class="article_teaser_body">A type of Martian aurora first identified by NASA’s MAVEN spacecraft in 2016 is actually the most common form of aurora occurring on the Red Planet, according to new results from the mission.</div>
 </div>,
 <div class="list_text">
 <div class="list_date">September 9, 2022</div>
 <div class="content_title">NASA's Curiosity Mars Rover Snaps Its Highest-Resolution Panorama Yet</div>
 <div class="article_teaser_body">To go along with the stunning 1.8-billion-pixel image, a new video offers a sweeping view of the Red Planet.</div>
 </div>,
 <div class="list_text">
 <div class="list_date">September 7, 2022</div>
 <div class="content_title">Mars Is Getting a New Robotic Meteorologist</div>
 <div class="article_teaser_body">Sensors on NASA's Perseverance will help prepare for future human exploration by taking weather measurements and studying dust particles.</div>
 </div>,
 <div class="list_text">
 <div class="list_date">September 5, 2022</div>
 <div class="content_title">The MarCO Mission Comes to an End</div>
 <div class="article_teaser_body">The pair of briefcase-sized satellites made history when they sailed past Mars in 2019.</div>
 </div>,
 <div class="list_text">
 <div class="list_date">August 31, 2022</div>
 <div class="content_title">NASA's Perseverance Rover Is Midway to Mars </div>
 <div class="article_teaser_body">Sometimes half measures can be a good thing – especially on a journey this long. The agency's latest rover only has about 146 million miles left to reach its destination.</div>
 </div>,
 <div class="list_text">
 <div class="list_date">August 28, 2022</div>
 <div class="content_title">NASA's Curiosity Takes Selfie With 'Mary Anning' on the Red Planet</div>
 <div class="article_teaser_body">The Mars rover has drilled three samples of rock in this clay-enriched region since arriving in July.</div>
 </div>,
 <div class="list_text">
 <div class="list_date">August 22, 2022</div>
 <div class="content_title">NASA's Perseverance Rover 100 Days Out</div>
 <div class="article_teaser_body">Mark your calendars: The agency's latest rover has only about 8,640,000 seconds to go before it touches down on the Red Planet, becoming history's next Mars car.</div>
 </div>,
 <div class="list_text">
 <div class="list_date">August 21, 2022</div>
 <div class="content_title">A Year of Surprising Science From NASA's InSight Mars Mission</div>
 <div class="article_teaser_body">A batch of new papers summarizes the lander's findings above and below the surface of the Red Planet.</div>
 </div>,
 <div class="list_text">
 <div class="list_date">August 20, 2022</div>
 <div class="content_title">AI Is Helping Scientists Discover Fresh Craters on Mars</div>
 <div class="article_teaser_body">It's the first time machine learning has been used to find previously unknown craters on the Red Planet.</div>
 </div>,
 <div class="list_text">
 <div class="list_date">August 20, 2022</div>
 <div class="content_title">NASA's Perseverance Mars Rover Gets Balanced</div>
 <div class="article_teaser_body">The mission team performed a crucial weight-balancing test on the rover in preparation for this summer's history-making launch to the Red Planet.</div>
 </div>,
 <div class="list_text">
 <div class="list_date">August 20, 2022</div>
 <div class="content_title">NASA's Curiosity Keeps Rolling As Team Operates Rover From Home</div>
 <div class="article_teaser_body">The team has learned to meet new challenges as they work remotely on the Mars mission.</div>
 </div>,
 <div class="list_text">
 <div class="list_date">August 17, 2022</div>
 <div class="content_title">Alabama High School Student Names NASA's Mars Helicopter</div>
 <div class="article_teaser_body">Vaneeza Rupani's essay was chosen as the name for the small spacecraft, which will mark NASA's first attempt at powered flight on another planet.</div>
 </div>]

In [9]:
# Loop through returned results
for result in results:
    
    # Error handling
    try:
        # Identify and return title of listing
        date = result.find('div', class_='list_date').text
        title = result.find('div', class_='content_title').text
        # Identify and return the explanation of the listing
        paragraph = result.find('div', class_='article_teaser_body').text
       

        # Run only if date and title and paragraph are available
        if (date and title and paragraph):
            # Print results
            print('-------------')
            print(date)
            print(title)
            print(paragraph)
            
            listing = {'date':date, 'title': title, 'paragraph':paragraph}
            listings_df = pd.concat([listings_df, listing], axis=0)
        
    except:       
            print('Data not found')

-------------
September 14, 2022
Two Rovers to Roll on Mars Again: Curiosity and Mars 2020
They look like twins. But under the hood, the rover currently exploring the Red Planet and the one launching there this summer have distinct science tools and roles to play.
Data not found
-------------
September 13, 2022
Nine Finalists Chosen in NASA's Mars 2020 Rover Naming Contest
Nine finalists have been chosen in the essay contest for K-12 students across U.S. to name NASA's next Mars rover. Now you can help by voting for your favorite.
Data not found
-------------
September 13, 2022
The Detective Aboard NASA's Perseverance Rover
An instrument called SHERLOC will, with the help of its partner WATSON, hunt for signs of ancient life by detecting organic molecules and minerals.
Data not found
-------------
September 12, 2022
Newfound Martian Aurora Actually the Most Common; Sheds Light on Mars' Changing Climate
A type of Martian aurora first identified by NASA’s MAVEN spacecraft in 2016 is actually the most common form of aurora occurring on the Red Planet, according to new results from the mission.
Data not found
-------------
September 9, 2022
NASA's Curiosity Mars Rover Snaps Its Highest-Resolution Panorama Yet
To go along with the stunning 1.8-billion-pixel image, a new video offers a sweeping view of the Red Planet.
Data not found
-------------
September 7, 2022
Mars Is Getting a New Robotic Meteorologist
Sensors on NASA's Perseverance will help prepare for future human exploration by taking weather measurements and studying dust particles.
Data not found
-------------
September 5, 2022
The MarCO Mission Comes to an End
The pair of briefcase-sized satellites made history when they sailed past Mars in 2019.
Data not found
-------------
August 31, 2022
NASA's Perseverance Rover Is Midway to Mars
Sometimes half measures can be a good thing – especially on a journey this long. The agency's latest rover only has about 146 million miles left to reach its destination.
Data not found
-------------
August 28, 2022
NASA's Curiosity Takes Selfie With 'Mary Anning' on the Red Planet
The Mars rover has drilled three samples of rock in this clay-enriched region since arriving in July.
Data not found
-------------
August 22, 2022
NASA's Perseverance Rover 100 Days Out
Mark your calendars: The agency's latest rover has only about 8,640,000 seconds to go before it touches down on the Red Planet, becoming history's next Mars car.
Data not found
-------------
August 21, 2022
A Year of Surprising Science From NASA's InSight Mars Mission
A batch of new papers summarizes the lander's findings above and below the surface of the Red Planet.
Data not found
-------------
August 20, 2022
AI Is Helping Scientists Discover Fresh Craters on Mars
It's the first time machine learning has been used to find previously unknown craters on the Red Planet.
Data not found
-------------
August 20, 2022
NASA's Perseverance Mars Rover Gets Balanced
The mission team performed a crucial weight-balancing test on the rover in preparation for this summer's history-making launch to the Red Planet.
Data not found
-------------
August 20, 2022
NASA's Curiosity Keeps Rolling As Team Operates Rover From Home
The team has learned to meet new challenges as they work remotely on the Mars mission.
Data not found
-------------
August 17, 2022
Alabama High School Student Names NASA's Mars Helicopter
Vaneeza Rupani's essay was chosen as the name for the small spacecraft, which will mark NASA's first attempt at powered flight on another planet.
Data not found

In [10]:
browser.quit()

### JPL Mars Space Images—Featured Image

In [25]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [12]:
url = 'https://spaceimages-mars.com/'
browser.visit(url)

In [13]:
# HTML Object 
html_image = browser.html

# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html_image, 'html.parser')

relative_image_path = soup.find_all('img')[1]["src"]

featured_image_url = url + relative_image_path
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars3.jpg

In [15]:
browser.quit()

### Mars Facts

In [16]:
url = 'https://galaxyfacts-mars.com'
tables = pd.read_html(url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [17]:
type(tables)

list

In [18]:
table_df = tables[0]
table_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [19]:
# Drop the earth data from the dataframe
table_df = table_df.drop([2], axis=1)
table_df = table_df.iloc[1: , :]
table_df

                    0                1
1           Diameter:         6,779 km
2               Mass:  6.39 × 10^23 kg
3              Moons:                2
4  Distance from Sun:   227,943,824 km
5     Length of Year:   687 Earth days
6        Temperature:     -87 to -5 °C

In [20]:
# Convert the table back to HTML
html_table = table_df.to_html()
html_table = html_table.replace('\n','')
html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>0</th>      <th>1</th>    </tr>  </thead>  <tbody>    <tr>      <th>1</th>      <td>Diameter:</td>      <td>6,779 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2</td>    </tr>    <tr>      <th>4</th>      <td>Distance from Sun:</td>      <td>227,943,824 km</td>    </tr>    <tr>      <th>5</th>      <td>Length of Year:</td>      <td>687 Earth days</td>    </tr>    <tr>      <th>6</th>      <td>Temperature:</td>      <td>-87 to -5 °C</td>    </tr>  </tbody></table>'

### Mars Hemispheres

In [21]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)
url = 'https://marshemispheres.com/'
browser.visit(url)

In [22]:
hemisphere_image_urls = []

In [23]:
# Get a List of All the Hemispheres
# HTML Object
html_hemispheres = browser.html

# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html_hemispheres, 'html.parser')

# Retreive all items that contain mars hemispheres information
items = soup.find_all('div', class_='item')

# Create empty list for hemisphere urls 
hemisphere_image_urls = []

# Store the main_ul 
hemispheres_main_url = 'https://marshemispheres.com/'

# Loop through the items previously stored
for i in items: 
    # Store title
    title = i.find('h3').text
    
    # Store link that leads to full image website
    partial_img_url = i.find('a', class_='itemLink product-item')['href']
    
    # Visit the link that contains the full image website 
    browser.visit(hemispheres_main_url + partial_img_url)
    
    # HTML Object of individual hemisphere information website 
    partial_img_html = browser.html
    
    # Parse HTML with Beautiful Soup for every individual hemisphere information website 
    soup = BeautifulSoup( partial_img_html, 'html.parser')
    
    # Retrieve full image source 
  
    img_url = hemispheres_main_url + soup.find('img', class_='wide-image')['src']
    
    # Append the retreived information into a list of dictionaries 
    hemisphere_image_urls.append({"title" : title, "img_url" : img_url})
    

# Display hemisphere_image_urls
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [24]:
browser.quit()